@import '_common';
@import 'article';

$maxWidth: 1330px;

.container {
    padding-top: 20px;
}
.content {
    width: $maxWidth;
    margin: 0 auto;
    zoom: 1;
}
footer {
    margin: 20px 0;
    text-align: center;
    font-size: 15px;
}
@media screen and (max-width: $maxWidth) {
    .home-page .container {
        display: block !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content {
        width: auto;
        padding: 0 10px;
    }
    .content .main {
        width: 100%;
        float: none;
    }
    .aside,
    .sidenav {
        display: none;
    }
    .article-page .container {
        display: block !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .article-page .title {
        padding-left: 20px;
        padding-right: 20px;
    }
    .article-page .main {
        width: auto;
    }
}
@media screen and (max-width: 700px) {
    .navbar form,
    .qrcode {
        display: none;
    }
    .wechat_pub img {
        width: 165px;
        height: 165px;
    }
}
@media screen and (max-width: 462px) {
    .detail h1 {
        font-size: 24px;
    }
    nav em {
        display: block;
        cursor: pointer;
    }
    nav em:after {
        content: '\2630';
        font-size: 1.5em;
        margin-top: 10px;
        display: block;
    }
    nav ul {
        position: absolute;
        top: 52px;
        width: 100%;
        left: 0;
        display: none;
        background-color: #2c3e50;
    }
    nav ul li {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        color: #fff;
    }
    nav ul li a:hover {
        background: 0 0;
    }
    .wechat_pub img {
        width: 130px;
        height: 130px;
    }
}
